
@font-face {
    font-family:'OpenSans-CondLight';
    src:url(../fonts/OpenSans-CondLight.ttf) format('truetype');
}
@font-face {
    font-family:'CarterOne';
    src:url(../fonts/CarterOne.ttf) format('truetype');
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}


.mylogo img{
      width: 200px;
    padding-left: 0;
    margin: 5px;
}

h1,h2,h3,h4,h5,h6{
	padding:0 0;
	margin:0 0;
}
p{
	padding:0 0;
	margin:0 0;
}
ul{
	padding:0 0;
	margin:0 0;	
}
body{
	padding:0 0;
	margin:0 0; 
	font-family: 'Open Sans', sans-serif;
}
.header-top {
 /* margin-top: 5px;*/
 position: absolute;
background: #ffff;

}
.logo {
    float: left;
   
    
}
.logo h1 a {
  font-size: 35px;
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
}
.header-bottom {
 padding: 2px;
    background: #5DA82D;
    /*margin-top: 20px;*/
    /*position: absolute;*/
width: 100%;
margin-top: 0px;
height: 100px;

}
.mt{
  margin-top: 12px;
  margin-bottom: 12px;
}
.c-padding{
  padding-left: 0px;
  padding-right: 0px;
}
.phone {
    float: right;
	margin-top: .5em;
}
.phone h5 {
   /* font-size: 1.2em;*/
    vertical-align: top;
    line-height: 2em;
	color:#000;
  margin-top: 5px;
padding-right: 20px;

}
span.glyphicon.glyphicon-phone {
    font-size: 1.8em;
}
.navbar-default {
    border-color: none !important;
    /*background:none !important;*/
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #dc0000;
}
.dropdown-menu > li > a {
    font-family: 'CarterOne';
}
.header {
    background: #fff;
   /* height: 100px;*/
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
   font-size:16px;
	font-weight: 600;
	/* padding: 19px;*/
	 font-family: 'Open Sans', sans-serif;
   padding-top: 11px;
   padding-bottom:9px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    text-align: center;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #2D7511;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #2D7511;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #2D7511;
    color: #fff;
}
.dropdown-menu > li > a {
    padding: 7px 20px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-nav {
    float: none;
    margin: 0;
   /* margin-top: 25px;*/
   padding-top:10px; 
}
.navbar-nav > li {
    float: none;
    display: inline-block;
}
.dropdown-menu {
    min-width: 141px !important;
}
/*banner*/
/*-- slider --*/
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
    overflow: hidden;
    margin-top: 0;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
}
ul#flexiselDemo1 li a{
	text-decoration:none;
	display:block;
}
ul#flexiselDemo1 li a h4{
	text-align: left;
    padding-left: 14px;
	color:#478D06;
	font-family: 'Exo2-Medium';
	font-size:1.2em;
	margin-top:0.5em;
}
ul#flexiselDemo1 li a h4:hover{
	color: #DBC585;
}
.nbs-flexisel-item > a img {	
	cursor: auto;
    position: relative;
    width: 53%;
    margin: 0;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 45px;
	height: 45px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	margin-top:0em;
}
.nbs-flexisel-nav-left {
    left: 0;
    background: url(../images/img-sprite-left-right.png) no-repeat 0px 0px;
}
.nbs-flexisel-nav-right {
	right: 0px;
	background: url(../images/img-sprite-left-right.png) no-repeat -54px 0px;
}
.welcome-grid1 h4 {
    font-size: 1.5em;
    color: #fff;
    text-align: left;
	text-transform: capitalize;
	    margin-top: 1em;
}
.welcome-grid1 p {
    font-size: 1em;
   padding: 23px;
    color: #fff;
    line-height: 1.8em;
    text-align: left;
}
.welcome {
    padding: 5em 0;
	background: #5DA82D;
 }
.welcome h2 {
    font-size: 2.5em;
    text-transform: capitalize;
    color: #fff;
       font-family:'Open Sans', 'sans-serif';
}
.welcomes-grids {
    margin-top: 5.8em;
}
a.button {
    font-size: 1em;
    background-color: #5DA82D;
    padding: .5em 1em;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}
a.button:hover {
    background: #fff;
    color: #222;
}
.welcome-grid1 {
    background: #222;
    padding: 1.4em;
}
.welcome-grid {
    padding: 0;
}
/**welcome**/
/**feature**/
.feature {
    text-align: center;
    padding: 3em 0;
  
}

.feature h3 {
    font-size: 2.5em;
    text-transform: capitalize;
    color: #5DA82D;
      font-family:'Open Sans', 'sans-serif';
      font-weight: 600;
      margin-bottom: 4%;
}

}
.feature-grids {
    margin-top: 3em;
}
.feature-icon{
    border:2px solid #5DA82D;
    width: 100px;
    height: 100px;
    line-height: 8em;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}
.feature-grid:hover div.feature-icon {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.glyphicon-wrench,.glyphicon-dashboard,.glyphicon-cog,.glyphicon-record,.glyphicon-stats,.glyphicon-cloud-download,.glyphicon-usd,.glyphicon-sort,.fa-industry ,.fa-inr {
    font-size: 25px;
    color: #5DA82D;
}
.feature-grid h4 {
    font-size: 1.5em;
    color: #000;
    text-transform: capitalize;
    margin: 0.8em 0 .5em;
}
/**feature**/
/**testimonials**/
.feature-grid p{
    font-size: 1em;
    color: #4b4545;;
	line-height:2em;
}
.testimonials {
    padding: 4em 0;
	text-align:center;
	background: url(../images/n3.jpg) no-repeat 0px 0px;
    background-size: cover;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.testimonials h3 {
   font-size: 3.5em;
    text-transform: capitalize;
        font-family:'Open Sans', 'sans-serif';
    color: #fff;
	margin-bottom: 0.5em;
  font-weight: 600;
}
.testimonials p {
    font-size: 1em;
    line-height: 1.8em;
    color: #fff;
    width: 56%;
    margin: 0 auto;
    background: url(../images/quote.png) no-repeat 0px 0px;
    padding-left: 3em;
}
.testimonials h4 {
    font-size: 1.5em;
    text-transform: capitalize;
	color: #ff9541;
	margin-top: 1em;
}
.testimonials h4 a {
    text-decoration: none;
    color: #fff;
	font-weight: 600;
}
.slider {
	position: relative;
	text-align: center;
	width: 100%;
    margin: 3em 0 0;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	   font-family:'Open Sans', 'sans-serif';
	visibility: visible;
	display: block;
	height: 8px;
	width: 8px;
	display: inline-block;
	border: 2px solid #fff;
	border-radius:50%;
	background:#fff;
}
.callbacks_here a:after{
	border: 2px solid #FFF;
	background:transparent;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 29px;
	z-index: 999;
	left: 46%;
	display: none;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 73%;
	left: 15%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  margin-top: -45px;
  }
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 15%;
 }
/**testimonials**/
.client h3{
  font-size: 2.5em;
    text-transform: capitalize;
       font-family:'Open Sans', 'sans-serif';
    color: #5DA82D;
  text-align:center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
/**events**/
.events h3 {
   font-size: 2.5em;
    text-transform: capitalize;
     font-family:'Open Sans', 'sans-serif';
    color: #5DA82D;
	text-align:center;
  font-weight: 600;
}
.events {
    padding: 5em 0;
    background-color: #eee;
}
.event-grid h4 {
    font-size: 1.5em;
    text-transform: capitalize;
	color: #ff9541;
	 margin: 0.8em 0 0.5em;
}
.event-grid  h4 a {
    text-decoration: none;
    color: #000;
}
.event-grid h4 a:hover {
    color: #5DA82D;
}
.event-grid_pic p{
	font-size: 1em;
    color: #4b4545;
    line-height: 2em;
}
.event-time {
    background: #5DA82D;
padding: 1.5em;
display: inline-block;
width: 100%;
border-top-left-radius: 50px;
border-top-right-radius: 50px;

}
.event-time p {
    text-align: center;
    font-size: 1em;
	color: #fff;
}
.event-grids {
    margin-top: 3em;
}
.event-grid_pic img {
    border-radius: 5px;
    height: 250px;
    width: 100%;
}

.specials-section {
  padding: 4em 0;
  background: #5DA82D;
}
.specials-section h3 {
    font-size: 3.5em;
    text-transform: capitalize;
    font-family: 'OpenSans-CondLight';
    color: #fff;
    font-weight: 500;
}

}
.specials li {
  list-style: none;
}
.specials p {
  font-size: 1em;
  line-height: 1.8em;
    color: #fff;
	 margin-top: 1em;
}
.specials a{
  color: #fff;
}
.specials ul{
 margin-top: 1em;
}
.specials ul li{
 list-style-type: none;
   padding: 0.3em 0;
}
.specials ul li  a{
  font-size: 1em;
  text-decoration: none;
  line-height: 1.8em;
  color: #fff;
    list-style: none;
	padding: 6px 24px;
  background: url(../images/list-arrow.png) no-repeat 0px 10px;
      text-transform: capitalize;
}
.specials ul li a:hover {
  color:#fff;
}
.footer-section{
	padding:2em 0;
	text-align:center;
}
.footer-top p {
	font-size: 0.9em;
	color: #1B1B1B;
	font-weight: 400;
}
.footer-top  a {
	font-size: 1em;
	color:#1B1B1B;
	font-weight: 400;
	text-transform: capitalize;
}
.footer-top a:hover {
	color: #1B1B1B;
}
.footer-top a {
	margin: 0 0.3em
}
/**about**/
.header-banner {
    background: url("../images/d1.jpg")no-repeat 0px 0px;
    background-size: cover;
    min-height: 140px;
	text-align: center;
}
.header-banner h2 {
    font-size: 3.5em;
    text-transform: capitalize;
    color: #fff;
       font-family:'Open Sans', 'sans-serif';
    padding-top: 1em;
}
.about-section {
	padding:2em 0;
}
.about-section h3 {
    font-size: 2.5em;
    text-transform: capitalize;
    color: #5DA82D;
       font-family:'Open Sans', 'sans-serif';
    text-align: center;
	margin-bottom: 0.5em;
  font-weight: 600;
 
}
.about-section h4 {
    font-size: 25px;
    color: #000;
    margin: 0.8em 0 0.5em;
}
.about-section p {
    font-size: 1em;
    color: #4b4545;
    line-height: 1.8em;

}
.ourteam {
  padding:5em 0;
  text-align: center;
  background-color: #1A3F0A;
}
.ourteam h3 {
    font-size: 3.5em;
    text-transform: capitalize;
     color: #fff;
	       font-family:'Open Sans', 'sans-serif';
}
.team-grid h4{
  font-size: 1.5em;
  color: #fff;
  text-transform: capitalize;
  margin: 0.5em 0 0.3em;
  text-align: left;
}
.team-grid p {
  font-size: 1em;
  color: #bfefed;
   line-height: 2em;
   text-align: left
 }
.team-grids {
  margin-top: 3em;
}
.advantages {
  text-align: center;
  padding:1em 0;
  margin-bottom: 20px;
}
.left-grid {
  float: left;
  width: 21%;
  margin-right: 2%;
}
.right-grid {
  float: left;
  width: 77%;
  text-align: left;
}
.left-grid p {
  background-color: #eee;
  color: #5DA82D;
  background: #ECECEC;
  width: 60px;
  height: 60px;
  font-size: 1.5em;
  margin: 0;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.6em;
}
.advantages h3 {
      font-size: 2.5em;
    text-transform: capitalize;
     color: #5DA82D;
	     font-family:'Open Sans', 'sans-serif';
       font-weight: 600;
       margin-bottom: 4%;
}

}
.advantages-grids {
  margin-top: 3em;
}
.right-grid h4 {
      font-size: 1.5em;
    color: 0f4404;
    margin: 0em 0 0.5em;
    border-bottom: 1px solid #ddd;
}
.right-grid p {
  font-size: 1em;
  color: #4b4545;
  line-height: 1.8em;
}
/**about**/
.services {
    padding: 5em 0;
	text-align:center;
}
.service-grid h4 {
    font-size: 1.5em;
    text-transform: capitalize;
    margin: 0.6em 0 0.4em;
    color: #000;
}
.service-grid p {
    font-size: 1em;
    color: #999;
	line-height:2em;
}
.service-grids1 {
    margin-top: 3em;
	}
/*-- gallery --*/
.gallery-section{
	padding:5em 0;
	text-align: center;
  margin-bottom: -80px;
}


.gallery-grid {
  padding: 1em;
}
a.mask {
  text-decoration: none;
  overflow: hidden;
  display: block;
}
img.zoom-img {
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
  width: 100%;
height: 250px;

}
img.zoom-img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
/*-- gallery --*/
/*-- typography --*/
.typography {
    padding: 5em 0;
}
.show-grid [class^=col-] {
	background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #999;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
  -webkit-border-radius:4px;
	-moz-border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg {
    margin-bottom: 1em;
    color: #222;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #999;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_4 {
    margin-top: 2em;
}
}
@media (max-width: 320px){
  ./*header-bottom{
    height: -0px;
  }*/
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*-- //typography --*/
/***contact page ***/
.contact{
	padding: 15px;
	text-align: center;
}
.google-map iframe {
	width: 100%;
	min-height: 400px;
	border: none;
	margin-bottom: 2em;
}
.contact-grids {
    text-align: left;
}
.contact-left p {
	color: #594c4c;
	font-size: 1em;
	line-height: 1.8em;
}
.contact-left p a {
    text-decoration: none;
    color: #dc0000;
}
address {
   margin: 1em 0 0;
 }
.contact-right h5{
	font-size:1em;
	text-transform: uppercase;
	font-weight: 400;
	padding: 10px 0;
	color: #222;
	
}
.contact-right input[type="text"] {
	width: 100%;
	padding: 10px 10px;
	font-size: 1em;
	outline: none;
	border: 1px solid #6a6f74;
border-radius: 15px;

}

.contact-right input[type="email"] {
  width: 100%;
  padding: 10px 10px;
  font-size: 1em;
  outline: none;
  border: 1px solid #6a6f74;
 border-radius: 15px;

}
.contact-right textarea {
	width: 100%;
	padding: 10px 10px;
	font-size: 1em;
	height: 10em;
	resize: none;
	outline: none;
	border: 1px solid #dcdee0;
	
}
.contact-right input[type="submit"] {
	width: 20%;
	font-size: 1em;
	text-transform: uppercase;
	background: #5DA82D;
	border: none;
	outline: none;
	margin-top: 0.5em;
	color: #fff;
	font-weight: 500;
	padding: 10px 0;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.contact-right input[type="submit"]:hover {
	background: #5DA82D;
}
	/**responsive**/
	
@media (max-width:1080px){
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.1em;
}
.welcome h2,.header-banner h2 {
    font-size: 3em;
}
.phone h5 {
    font-size: 13px;
}
.welcome-grid1 h4,.feature-grid h4,.testimonials h4,.event-grid h4,.about-section h4,.team-grid h4,.right-grid h4,.service-grid h4 {
    font-size: 1.35em;
}
.welcome-grid1 p {
    font-size: .965em;
	padding: 1.5em 0 1.9em;
}
.welcomes-grids {
    margin-top: 2.3em;
}
.feature h3,.testimonials h3,.events h3,.about-section h3,.ourteam h3,.advantages h3,.specials-section h3  {
    font-size: 3em;
}
.feature-grid p,.testimonials p,.event-grid_pic p,.specials p,.about-section p,.team-grid p,.right-grid p,.service-grid p,.contact-left p{
  font-size: .965em;
}
.specials ul li a {
    font-size: .96em;
}
@media (max-width:991px){
.navbar-default .navbar-nav > li > a {
    padding: 1em 1em;
}
.logo h1 a {
    font-size: 1em;
}
.welcome-grid {
    width: 100%;
}
.welcome-grid1 {
    width: 100%;
}
.welcome-grid img {
    width: 100%;
}
.welcomes-grid {
    float: left;
    width: 33.3%;
}
.welcome h2, .header-banner h2 {
    font-size: 2.5em;
}
.welcome-grid1 p {
    font-size: .95em;
}
.welcome-grid1 h4, .feature-grid h4, .testimonials h4, .event-grid h4, .about-section h4, .team-grid h4, .right-grid h4, .service-grid h4 {
    font-size: 1.25em;
	    line-height: 1.5em;
}
.feature-grid p,.event-grid_pic p, .specials p, .about-section p, .team-grid p, .right-grid p, .service-grid p,.typography,.contact-left p {
    font-size: .95em;
}
.header-banner {
    min-height: 95px;
}
a.button {
    font-size: 0.95em;
}

.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    margin-top: 1em;
}
.welcome,.feature,.events,.specials-section,.testimonials,.about-section,.ourteam,.advantages,.services,.gallery-section,.typography,.contact {
    padding: 3em 0;
}
.feature h3,.testimonials h3, .events h3, .about-section h3, .ourteam h3, .advantages h3,.specials-section h3  {
    font-size: 2.5em;
}
.feature-grid {
    float: left;
    /*width: 25%;*/
}
.testimonials {
    background: url(../images/n3.jpg) no-repeat -10px 0px;
    background-size: cover;
    width:100%;
}
.testimonials p {
   width: 71%;
   font-size: .95em;
}
.testimonials ul{
  list-style-type: none;
}
.event-grid {
    float: left;
    width: 33.3%;
}
.event-time {
    width: 57%;
}
.specials {
    float: left;
    width: 50%;
}
.specials:nth-child(3) {
    margin-top: 1em;
}
.specials:nth-child(4) {
    margin-top: 1em;
}
.team-grid {
    float: left;
    width: 25%;
}
.advantage-grid {
    float: left;
   /* width: 33.3%;*/
}
.left-grid p {
    width: 50px;
    height: 50px;
    font-size: 1.3em;
}
.service-grid {
    float: left;
    width: 33.3%;
}
.grid_4 {
    background: none;
    margin-top: 0px;
}
.gallery-grid {
    float: left;
    width: 33.3%;
}
.google-map iframe {
    width: 100%;
    min-height: 270px;
}
.contact-left {
    float: left;
    width: 50%;
}
.contact-right {
    float: left;
    width: 50%;
}
.contact-right h5 {
    font-size: .96em;
}
.contact-right input[type="text"],.contact-right textarea {
    padding: 6px 10px;
}
.contact-right input[type="submit"] {
    width: 23%;
    font-size: .95em;
}
}
@media (max-width: 768px){
.testimonials {
    background: url(../images/n3.jpg) no-repeat -190px 0px;
    /*background-size: cover;
    width:100%;*/
}
}
@media (max-width:640px){
.navbar-nav > li {
    float: none;
    display: block;
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 10px;
margin-top: 28px;

}
.navbar {
   text-align: center;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none!important;
	box-shadow: 0 0 0;
    background: #222;
    list-style: none;
}
.navbar-default .navbar-toggle {
    border-color: ##5EA92F;
	 background-color: #5EA92F;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #5EA92F;
}
.navbar-nav .open .dropdown-menu {
     text-align: center;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.header-bottom {
    padding: 1em 0 0;
}
.welcome h2, .header-banner h2 {
    font-size: 2.4em;
    padding-top: 0.5em;
}
.header-banner {
    min-height: 70px;
}
.phone h5 {
    font-size: 1em;
}
.welcome-grid1 h4, .feature-grid h4, .testimonials h4, .event-grid h4, .about-section h4, .team-grid h4, .right-grid h4, .service-grid h4 {
    font-size: 15px;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    margin-top: 4em;
}
.feature-icon {
    border: 2px solid #5EA92F;
    width: 85px;
    height: 85px;
    line-height: 7em;
}
.feature-grid {
    float: left;
    width: 50%;
}
.feature-grid:nth-child(3) {
    margin-top: 1em;
}
.feature-grid:nth-child(4) {
    margin-top: 1em;
}
.testimocolor: #594c4c;nials p {
    width: 95%;
}
.feature-grids,.event-grids,.team-grids,.advantages-grids {
    margin-top: 2em;
}
.slider {
  margin: 2em 0 0;
}
.event-time {
    width: 70%;
}
.advantage-grid {
    width: 100%;
}
.advantage-grid:nth-child(2) {
    margin: 1em 0; 
}
.right-grid h4 {
    text-align: left;
}
.right-grid p {
    text-align: left;
}
.left-grid {
    float: left;
    width: 10%;
    margin-right: 2%;
}
.right-grid {
    float: left;
    width: 88%;
}
.google-map iframe {
    width: 100%;
    min-height: 230px;
}
}
@media (max-width: 480px){
.logo h1 a {
    font-size: 0.9em;
}
.navbar-default .navbar-nav > li > a {
    font-size: 1em;
}
.welcome-grid1 {
    padding: 1em;
}
.welcome, .feature, .events, .specials-section, .testimonials, .about-section, .ourteam, .advantages, .services, .gallery-section,.typography, .contact {
    padding: 2em 0;
}
.welcome-grid1 p {
    font-size: .92em;
    padding: 1em 0 1.5em;
}
.welcome h2, .header-banner h2 {
    font-size: 2.2em;
}
.welcome-grid1 h4, .feature-grid h4, .testimonials h4, .event-grid h4, .about-section h4, .team-grid h4, .right-grid h4, .service-grid h4 {
    font-size: 1.15em;
}
a.button {
    font-size: 0.92em;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    margin-top: 8em;
}
.testimonials p {
    width: 100%;
    font-size: .92em;
}
.slider {
    margin: 1em 0 0;
}
.feature-grids, .event-grids, .team-grids, .advantages-grids {
    margin-top: 1em;
}
.event-grid {
    width: 100%;
}
.event-time {
    width: 40%;
}
.event-grid:nth-child(2) {
    margin-top: 1em;
}
.event-grid:nth-child(3) {
    margin-top: 1em;
}
.specials ul li a {
    font-size: .92em;
    padding: 6px 19px;
}
.feature h3, .testimonials h3, .events h3, .about-section h3, .ourteam h3, .advantages h3, .specials-section h3 {
    font-size: 2em;
}
.header-banner {
    min-height: 60px;
}
.team-grid {
    width: 50%;
}
.team-grid:nth-child(3) {
    margin-top: 1em;
}
.team-grid:nth-child(4) {
    margin-top: 1em;
}
.left-grid {
    float: left;
    width: 20%;
    margin-right: 2%;
}
.right-grid {
    float: left;
    width: 77%;
}
.service-grid {
    width: 100%;
}
.service-grids1 {
    margin-top: 1em;
}
.service-grid:nth-child(2) {
    margin-top: 1em;
}
.service-grid:nth-child(3) {
    margin-top: 1em;
}
.service-grid:nth-child(5) {
    margin-top: 1em;
}
.service-grid:nth-child(6) {
    margin-top: 1em;
}
.contact-left {
    width: 100%;
	margin-top:1em;
}
.contact-right {
    width: 100%;
}
}
@media (max-width: 320px){
.logo h1 a {
    font-size: 0.75em;
}
span.glyphicon.glyphicon-phone {
    font-size: 1em;
}
.navbar-default .navbar-nav > li > a {
    padding: .5em 1em;
}
.phone h5 {
    font-size: .9em;
}
.header-top {
    margin-top: .3em;
}
.phone {
    margin-top: 1em;
}
.navbar-toggle {
    padding: 6px 6px;
}
.header-bottom {
    padding: .5em 0 0;
}
.header-bottom {
    padding: .5em 0 0;
}
.welcome h2, .header-banner h2 {
    font-size: 2.2em;
	padding-top: 0.3em;
}
.welcome-grid1 h4, .feature-grid h4, .testimonials h4, .event-grid h4, .about-section h4, .team-grid h4, .right-grid h4, .service-grid h4 {
    font-size: 1.1em;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    margin-top: 5em;
}
.welcomes-grid {
    padding: 0 0.5em;
}
.welcome, .feature, .events, .specials-section, .testimonials, .about-section, .ourteam, .advantages, .services, .gallery-section, .typography, .contact {
    padding: 1em 0;
}
.feature-grid {
    width: 100%;
    padding: 0;
}
.feature-grid:nth-child(2) {
    margin-top: 1em;
}
.testimonials {
    background: url(../images/n3.jpg) no-repeat -440px 0px;
}
.event-grid {
    padding: 0;
}
.specials {
    width: 100%;
	padding:0;
}
.specials:nth-child(2) {
    margin-top: 1em;
}
.footer-section {
    padding: 1em 0;
}
.specials ul {
    margin-top: .5em;
}
.team-grid {
    width: 100%;
    padding: 0;
}
.team-grid:nth-child(2) {
    margin-top: 1em;
}
.advantage-grid {
    padding: 0;
}
.service-grid {
    padding: 0;
}
.feature-icon {
    border: 2px solid#5EA92F;
    width: 75px;
    height: 75px;
    line-height: 6.5em;
}
.gallery-grid {
    padding: 0 0 1em;
    width: 100%;
}
.contact-right {
    padding: 0;
}
.contact-left {
    padding: 0;
}
.contact-right input[type="submit"] {
    width: 28%;
}
}
.text-img{
  position: absolute !important;
  top:0!important;
  left:0!important;
  color: #fff!important;
  font-weight: 700!important;
}

.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 15px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 15px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -25%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 25%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(25%, 0, 0);
            transform: translate3d(25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}

.btn-caro1{
color: #fff;
    background-color: #5cb85c!important;
    border-color: #4cae4c!important;
    position: absolute!important;
    z-index: 1000!important;
    top: 35%!important;
    left: -5px!important;
}

